body{
  background-color: floralwhite;
}
ul {
    list-style: none; /*убираем маркеры списка*/

    font-family:'Segoe UI', Verdana, sans-serif;
  }

a {
  text-decoration: none;
  color: black; /*убираем подчеркивание текста ссылок*/
}

.inline{
  display: inline;
  background: floralwhite;
  transition: 2s;
  margin-bottom: 10px;
 
  }

.inline:hover{
  /* background: cornflowerblue; */
  padding: 4px 4px 4px 4px;
  border: 3px solid black;
  border-radius: 8px;
  transition: 0.5s;
}

.promotion {
display: inline;
width: 300px; ;
height: 10px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 60px;
font-weight: 700;
border: 3px solid rgb(0, 0, 0);
border-radius: 8px;
transition: 0.5s;
margin: 10px;
}

.divClock{
    font-size: 50px;
    display: inline;
    background: floralwhite;
    transition: 2s;
    margin-bottom: 10px;
    margin-top: 10px;
}

.transformClass{
  background-color: aquamarine;
}
